body {
    margin: 0;
}

.loader-container{
    width: 100%;
    height: 100vh;
    background-color: rgb(4, 225, 188);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container > div{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: rgb(4, 225, 188);
    border: 10px solid #fff;
    border-top: 10px solid #3498db;
    border-radius: 50%;
}

.loader-1{
    animation: loader 0.6s linear 0.1s infinite;
}


@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}